body {
  background-color: #6c03ff;
  margin: 0;
}

/**
 * App container
 */

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/**
 * Action button styling
 */

.buttons {
  align-items: center;
  display: flex;
  height: 20%;
  justify-content: center;
  width: 100%;
}

.buttons .button {
  border: 2px solid transparent;
  border-radius: 6px;
  color: #151d2ac9;
  cursor: pointer;
  font-family: system-ui;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  transition: all .25s ease-in-out;
}

.buttons .button.button--pass {
  /* background-color: #ff0d5b; */
  /* background-color: #69213c; */
  background-color: #ffffff;
  border-color: #ff0d5b;
  color: #ff0d5b;
  margin-right: 12px;
}

.buttons .button.button--pass:hover {
  background-color: #ff0d5b;
  color: #69213c;
}

.buttons .button.button--like {
  /* background-color: #0cff97; */
  /* background-color: #216d51; */
  background-color: #ffffff;
  border-color: #0cff97;
  color: #0cff97;
}

.buttons .button.button--like:hover {
  background-color: #0cff97;
  color: #216d51;
}

/* .buttons .button:hover {
  border-color: #151d2aa6;
  color: #151d2a;
} */

/**
 * Photo stack styling
 */

.photo-stack {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  position: relative;
}

.photo-stack h1 {
  font-family: system-ui;
  font-weight: 600;
  text-align: center;
}

.photo-stack p {
  font-size: 18px;
  margin-top: 0;
}

.photo-stack .photo {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.photo-stack .photo h1 {
  display: none;
  font-size: 120px;
  text-align: center;
}

.photo-stack .photo--current {
  z-index: 1;
}

.photo-stack .photo--pass {
  animation: pass .5s linear .5s 1;
  z-index: 2;
}

.photo-stack .photo--pass .pass {
  display: block;
}

.photo-stack .photo--like {
  animation: like .5s linear .5s 1;
  z-index: 2;
}

.photo-stack .photo--like .like {
  display: block;
}

.photo-stack .photo.photo--john-summit {
  background-image: url(https://lastfm.freetls.fastly.net/i/u/770x0/e9202a1a2e6b281cb2c94cbedb6330e6.jpg);
}

.photo-stack .photo.photo--lucii {
  background-image: url(https://images.sk-static.com/images/media/profile_images/artists/9640599/huge_avatar);
}

/**
 * App wrapper
 */

.app-wrapper {
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

@media screen and (max-width: 480px) {
  .app-wrapper {
    border: none;
    height: 100%;
    width: 100%;
  }
}

@keyframes pass {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes like {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}